.item {
    display: flex;
    padding-bottom: 4rem;

}

.item_info {
    padding-left: 1rem;

}

.item_date {
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    color: #7b7b7b;

}

.item_title {
    font-size: 1.5625rem;
    font-weight: bold;
    margin-bottom: 1rem;
    line-height: 1.75rem;

}

.item_text {
    margin-bottom: 2rem;
    line-height: 1.6rem;

}

.item_tags {
    font-size: 0.9rem;
    color:  #7b7b7b;

}

.item_tag {
    display: inline;
    color: #2a2a2a;

}

.item_tag:not(:last-child):after {
    content: ',';

}

.item_tag--active {
    font-weight: bold;

}

.tags_title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 0.25rem;
    margin-bottom: 1.25rem;

}

.tags_tag {
    color: #2a2a2a;
    display: block;
    margin-bottom: 1.25rem;
    border-left: 4px solid #cccccc;
    padding-left: 12px;
    margin-left: -12px;

}

.tags_tag--active {
    border-left-color: #f5122c;

}
