.email {
    display: flex;

}
.email_title {
    width: 400px;
    display: flex;

}
.email_title .text {
    white-space: nowrap;

}
.email_title .fill {
    overflow: hidden;
    display: flex;
    color: #c7c7c7;
    font-weight: 300;
    align-items: flex-end;

}
.email_value {
    display: flex;
    align-items: flex-end;

}
