li {
    line-height: 30px;
}

.help-options {

    display: flex;

}

.help-options_option {
    display: flex;
    align-content: center;
    margin-right: 50px;
    color: #2c2c2c;
}

.help-options_icon {
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.help-options_icon img {
    position: relative;
    left: 50%;
    top: 50%;
    width: 35px;
    transform: translate(-50%,-50%);
}

.help-options_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
}

.help-options_option--active .help-options_title {
    font-weight: bold;
}

.category-menu {
    position: relative;
}

.category-menu_item {
    margin: 0.5rem 0;
    padding-left: 20px;
    line-height: 26px;
    color: #6d6d6d;
    display: block;
}

.category-menu_item--active {
    font-weight: 600;
    border-left: 4px solid #f0f0f0;
    padding-left: 20px;
    margin-left: -4px;
    color: black;
}

.category-menu_body {
    border: 4px solid #f0f0f0;
    position: relative;
}

.category-menu_body--sticky {
    position: fixed;
    top: 0;
}

.packages {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}

.packages_item {
    flex-basis: 25%;
}

.package {
    display: flex;
    flex-direction: column;
    padding: 10px 20px 0 20px;
    align-items: stretch;
    border: 4px solid #f5f5f5;
    justify-content: space-between;
}

.package_title {
    font-size: 22px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.package_desc {
    text-align: center;
    margin: 20px 0;
    flex: 1;
}

.package_button {
    transform: translateY(50%);
    display: flex;
}

.package_button .send-button  {
    flex: 1;
}

.check-item {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.check-item > label {
    display: flex;
    align-items: center;
}

.send-button {
    background: #ff193f;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-weight: 600;
}

.section-donate-form {
    display: flex;
    flex-direction: column;
    border: 4px solid #e7e7e7;;
    padding: 20px 25px;
    box-sizing: border-box;

}

.section-donate-form_options {
    display: flex;
    margin-bottom: 2rem;
    border-bottom: 1px solid #e0e0e0;
}

.section-donate-form_option {
    margin-right: 3rem;
    font-size: 1.25rem;
    line-height:  2rem;
    font-weight: 600;
    border-bottom: 4px solid transparent;
    -webkit-user-select: none;
            user-select: none;
    cursor: pointer;
}

.section-donate-form_option--active {
    border-bottom-color: #fa5555;
}

.section-donate-form_amount-info {
    margin: 2.5rem 0;
}

.section-donate-form_amount {
    font-size: 3.125rem;
    padding: 1rem 0;
    font-weight: bold;
}

.section-donate-form_amount-input {
    display: flex;
    align-items: center;
}

.section-donate-form_amount-input, .section-donate-form_amount-input input {
    font-weight: bold;
    font-size: 3.125rem;
}

.section-donate-form_amount-input input {
    height: 3.125rem;
    min-width: calc(1.95rem * 4);
}

.section-donate-form_fee {
    font-size: 0.93rem;
    padding-top: 1.75rem;
    color: #878787;
}

.section-donate-form_submit {
    font-size: 1.375rem;
    padding: 1rem;
    background: #fa5555;
    color: white;
    margin-bottom: -2rem;
}

.section-donate-form_submit:disabled {
    color: rgba(255, 255, 255, 0.5);
}

.section-donate-info_amount {
    font-size: 4.375rem;
    line-height: 4.375rem;
    font-weight: bold;
    color: rgba(46, 46, 46, 0.1);
}

.section-donate-info_title {
    padding-top: 1.875rem;
    font-size: 1.5625rem;
    font-weight: bold;
    line-height: 1.5625rem;
    color: #2e2e2e;
}

.section-donate-info_desc {
    padding-top: 1.25rem;
    padding-bottom: 1rem;
    font-size: 1.25rem;
    line-height: 1.25rem;
}
