/*
    Global styles
*/

html {
    font-family: 'Open Sans', 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #2c2c2c;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 40px;
    margin-top: 0;
}

h2 {
    font-weight: 300;
    font-size: 30px;
}

input, button, textarea {
    outline: none;
}

/*
    Content containers and header
*/
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fields {
    display: flex;
    width: 1200px;
    flex-direction: column;
    align-items: stretch;
    padding: 0 20px;
    border: 0px solid black;
}

.main-menu {
    width: 100%;
    color: white;
    background: #e41515;
    height: 47px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
    padding-bottom: 55px;
}

.social-networks {

}

.navigation-menu {
    display: flex;
    justify-content: space-between;
}

.navigation-menu_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.language-switch {
    display: flex;
    justify-content: space-around;
}

.language-switch_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Grid */
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row_block {
    flex: 1;
}

.row_block-1 {flex-basis: 60px;}
.row_block-2 {flex-basis: 160px;}
.row_block-3 {flex-basis: 260px;}
.row_block-4 {flex-basis: 360px;}
.row_block-5 {flex-basis: 460px;}
.row_block-6 {flex-basis: 560px;}
.row_block-7 {flex-basis: 660px;}
.row_block-8 {flex-basis: 760px;}
.row_block-9 {flex-basis: 860px;}
.row_block-10 {flex-basis: 960px;}
.row_block-11 {flex-basis: 1060px;}
.row_block-12 {flex-basis: 1160px;}

.flex {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.main-center {
    display: flex;
    justify-content: center;
}

/* UIKit classes */
.uk-button {
    border-radius: 4px;
    border-width: 3px;
    border-style: solid;
    width: 178px;
    height: 42px;
    outline: none;
    font-size: 16px;
    font-weight: 300;
}

.uk-button-success {
    border-color: #B7EA84;
    background: white;
}

.uk-button-success:hover {
    background: #B7EA84;
}

.uk-button-success:active {
    background: #A3D473;
    border-color: #A3D473;
}
