.content-row {
    padding-bottom: 2rem;
}

.features {
    margin: 6rem 0;
}

.features-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.features-block--left {
    justify-content: flex-start;
}

.feature {
    flex: 1;
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 25%;
}

.feature_content {
    border-left: 4px solid #d9d9d9;
    padding-left: 0.75rem;
}

.features-separator {
    border-top: 1px solid #e6e6e6;
    margin-top: 9rem;
}

