@import "react-datepicker.min.css";

.content-row {
    padding-bottom: 2rem;
}

.features {
    margin: 6rem 0;
}

.features-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    &--left {
        justify-content: flex-start;
    }
}

.feature {
    flex: 1;
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 25%;

    &_content {
        border-left: 4px solid #d9d9d9;
        padding-left: 0.75rem;
        width: 100%;
    }
}

.features-separator {
    border-top: 1px solid #e6e6e6;
    margin-top: 9rem;
}


#react-volunteers-questionnaire-entry-point {
    margin-top: 1.75rem;
}

.questionnaire-react-root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questionnaire {

    &__submit {
        background: white;
        border: 2px solid #ff7777;
        color: #2c2c2c;
        margin-left: 2px;
        font-weight: 600;
        padding: 15px 40px;
        border-radius: 5px;

        &:hover:not(:disabled) {
            border-color: #ff3a3a;
        }

        &:active:not(:disabled) {
            border-color: #dd2222;
        }

        &:disabled {
            opacity: 0.5;
        }
    }

    &__done {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-header {
            text-align: center;
        }

        &-message {
            max-width: 300px;
            text-align: center;
        }
    }

    /* items */
    &-page {
        margin-bottom: 2rem;
    }

    &-row {
        display: flex;

        & > *:not(:first-child) {
            margin-left: 1rem;
        }
    }

    &-question-title {
        font-weight: 600;
        font-size: 0.9375rem;
        margin-top: 0.5rem;

        &__mandatory {
            color: red;
            vertical-align: top;
            font-size: 1rem;
            margin: 0.1rem;
        }
    }

    &-h1 {
        font-size: 1.875rem;
        font-weight: bold;
    }

    &-h2 {
        font-size: 1.3rem;
        margin: 5rem 0 2rem 0;
        font-weight: bold;
    }

    &-p {
        margin: 29px 0;
    }

    &-group-scale {
        margin: 2rem 0;

        &__items {
            margin: 0.5rem 0;
        }

        &__item-title {
            max-width: 300px;
            padding: 0.2rem 0;
            padding-right: 2rem;
        }

        &__input {
            width: 200px;
        }
    }

    &-group-checkbox {
        margin: 1rem 0;

        &__items {
            margin: 0.5rem 0;
        }

        &__option-header {
            width: 150px;
            width: 50px;
            padding: 0.5rem;
            vertical-align: bottom;
        }

        &__item-title {
            max-width: 300px;
            padding: 0.2rem 0;
            padding-right: 2rem;
            vertical-align: middle;
        }

        &__item-option {
            text-align: center;
            vertical-align: middle;
            padding: 10px;
            width: 50%;
        }

        &__item-title, &__item-option {
            border-style: dashed;
            border-color: #e8e8e8;
            border-width: 1px 0 1px 0;
        }

        &__inputs {
            display: flex;
        }

        &__input {
            margin: 7px 0;
            border: solid 1px #e1e1e1;
            background-color: white;
            padding: 7px 32px;
            flex: 1;

            &--is-checked {
                border: 1px solid red;
            }
            &:first-child {
                border-radius: 5px 0 0 5px;
            }
            &:last-child {
                border-radius: 0 5px 5px 0;
            }
            &:not(:first-child):not(:last-child):not(&--is-checked) {
                border-left-color: transparent;
                border-right-color: transparent;
            }
            &:first-child:nth-last-child(2):not(&--is-checked) {
                border-right-color: transparent;
            }
            &--is-checked + &--is-checked {
                border-left-color: transparent;
            }
        }

    }


    &-text {
        margin: 1rem 0;

        &__label {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }


        &__title {
            min-width: 200px;
        }

        &__input {
            margin: 0.5rem 0;
            min-width: 200px;
            border-radius: 5px;
            border: 1px solid #e1e1e1;
            padding: 6px 11px;
            font-size: 1rem;
        }
    }

    &-date {
        &__input {
            margin: 0.5rem 0;
            min-width: 200px;
            border-radius: 5px;
            border: 1px solid #e1e1e1;
            padding: 6px 11px;
            font-size: 1rem;
        }
    }

    &-textarea {
        margin: 1rem 0;

        &__label {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        &__title {
            min-width: 200px;
        }

        &__input {
            margin: 0.5rem 0;
            min-width: 350px;
            min-height: 100px;
            border-radius: 5px;
            border: 1px solid #e1e1e1;
            padding: 6px 11px;
            font-size: 1rem;
        }
    }

    &-radio {

        &__options {
            display: flex;
            margin: 1rem 0;
        }

        &__option {
            margin: 20px 40px;
            margin-left: 0;
            display: inline-block;
            align-items: center;
        }

        &__input {
            border: solid 1px #e1e1e1;
            background-color: white;
            padding: 7px 32px;
            min-width: 200px;

            &--is-checked {
                border: 1px solid red;
            }
            &:first-child {
                border-radius: 5px 0 0 5px;
            }
            &:last-child {
                border-radius: 0 5px 5px 0;
            }
            &:not(:first-child):not(:last-child):not(&--is-checked) {
                border-left-color: transparent;
                border-right-color: transparent;
            }
        }
    }
}
