.intro-row {
    padding: 0 0 48px 0;
    align-items: flex-start;
}

/* todo: customization styles from entry-main */
.team-row {
    padding-bottom: 50px;
    justify-content: center;
}

.team-member {
    &:not(:last-child) {
        margin-right: 35px;
    }

    &_name {
        margin: 6px 0;
        font-weight: 600;
        font-size: 16px;
    }

    &_role {
        margin-top: 6px;
        font-size: 13px;
        color: #919191;
    }

    &_links {
    }

    &_link {
        margin-right: 7px;
        font-size: 12px !important;
        color: #BDBDBD;
        margin-top: 6px;

        &, &:hover, &:focus, &:active, &:visited {
            text-decoration: none;
        }
    }
}
