.email {
    display: flex;

    &_title {
        width: 400px;
        display: flex;

        .text {
            white-space: nowrap;
        }

        .fill {
            overflow: hidden;
            display: flex;
            color: #c7c7c7;
            font-weight: 300;
            align-items: flex-end;
        }
    }

    &_value {
        display: flex;
        align-items: flex-end;
    }

}
