.content-row {
    padding-bottom: 2rem;
}

.features-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    &--centered {
        justify-content: space-around;
    }
}

.feature {
    flex: 1;
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 230px;

    &_content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &_text {
        text-align: center;
        margin-top: 0.5rem;
    }
}
