/*
    Global layout styles
*/
html, * {
    font-family: 'Open Sans', 'PT Sans', sans-serif;
    line-height: 1.25rem;
}

html {
    font-size: 16px;
    font-weight: 400;
    color: #2c2c2c;
}

/* Grid */
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.column {
    display: flex;
    flex-direction: column;
}

.row_block {
    flex: 1;

    &-1 {flex-basis: 60px;}
    &-2 {flex-basis: 160px;}
    &-3 {flex-basis: 260px;}
    &-4 {flex-basis: 360px;}
    &-5 {flex-basis: 460px;}
    &-6 {flex-basis: 560px;}
    &-7 {flex-basis: 660px;}
    &-8 {flex-basis: 760px;}
    &-9 {flex-basis: 860px;}
    &-10 {flex-basis: 960px;}
    &-11 {flex-basis: 1060px;}
    &-12 {flex-basis: 1160px;}
}



.flex {
    display: flex;
}
