/*
    Global styles
*/
html, * {
    font-family: 'Open Sans', 'PT Sans', sans-serif;
    line-height: 1.25rem;
}

html {
    font-size: 16px;
    font-weight: 300;
    color: #2c2c2c;
}

a {
    color: #0084F1;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

h1, h2, h3 {
    font-weight: 700;
    line-height: 1.25rem;
    margin-bottom: 20px;
}

h1 {
    font-size: 30px;
    letter-spacing: 0.06rem;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 35px;
}

h5 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
}

p {
    line-height: 1.75rem;
}

ol {
    list-style-position: inside;
}

li {
    line-height: 20px;
    margin-bottom: 15px;

    &.long {
        line-height: 20px;
        margin-bottom: 15px;
    }

    /* Для коротких списков */
    &.short {
        line-height: 20px;
        margin-bottom: 10px;
    }

    &.short:last-child {
        margin-bottom: 35px;
    }
}



input, button, textarea {
    outline: none;
    min-width: 0;
}

button {
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 300;
}

/* Grid */
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
}

.row_block {
    flex: 1;
}

.row_block-1 {flex-basis: 60px;}
.row_block-2 {flex-basis: 160px;}
.row_block-3 {flex-basis: 260px;}
.row_block-4 {flex-basis: 360px;}
.row_block-5 {flex-basis: 460px;}
.row_block-6 {flex-basis: 560px;}
.row_block-7 {flex-basis: 660px;}
.row_block-8 {flex-basis: 760px;}
.row_block-9 {flex-basis: 860px;}
.row_block-10 {flex-basis: 960px;}
.row_block-11 {flex-basis: 1060px;}
.row_block-12 {flex-basis: 1160px;}

.flex {
    display: flex;
}
