html, body {
    width: 100%;
    height: 100%;
}

body {
    display: table;
    margin: 0;
    padding: 0;
}

main, footer {
    display: table-row;
    padding: 0;
    margin: 0;
    width: 100%;
}

main {
    height: 100%;
}

.layout {
    &-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-content {
        padding: 40px 0;
    }

    &-fields {
        display: flex;
        width: 1160px;
        flex-direction: column;
        align-items: stretch;
        border: 0px solid black;
    }

    &-header {
        display: flex;
        justify-content: space-between;
        padding-top: 27px;
        padding-bottom: 45px;

        &_right {
            display: flex;
            flex-direction: column;
            padding-top: 4px;
        }

        &_languages {
            display: flex;
            justify-content: flex-end;
            font-size: 15px;
        }

        &_languages-item {
            margin-left: 37px;
        }


        &_social-networks {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            color: #c7c7c7;
            font-size: 14px;
            padding-top: 10px;

            &_title {
                color: #686767;
                margin: 12px 0;
            }
        }
    }

    /*
        Header and footer blocks
    */

    &-menu-row {
        display: flex;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid #ececec;
    }

    &-navigation-menu {
        display: flex;
        justify-content: space-between;
        height: 47px;

        &_item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 1rem;
            font-size: 18px;
            color: black;

            &--active {
                border-bottom: 4px solid #ff193f;
                font-weight: 600;
            }

            &, &:hover {
                text-decoration: none;
            }
        }
    }

    &-search {
        & * {
            color: #c7c7c7;
        }

        & > input {
            border: none;
            font-size: 15px;
            font-weight: 300;
        }
    }

    &-footer {
        background: #403939;
        color: #EFEFEF;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 38px;
        box-sizing: border-box;

        &_links-block {
            &_header {
                font-weight: 500;
                font-size: 16px;
                border-bottom: 1px solid #544d4d;
                padding: 8px 0;
            }
            &_item {
                font-size: 16px;
                margin: 18px 0;
            }
        }
    }

    &-social-networks {
        display: flex;
        justify-content: flex-end;
        & &_item {
            font-size: 28px;
            margin-left: 30px;
        }
    }
}
