.collected {
    border: 6px solid #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px;

    &_header {
    }

    &_amount {
        padding: 1rem;
        font-size: 36px;
        font-weight: bold;
    }
}

.intro-row {
    padding: 48px 0;
}

.person {
    &_name {
        font-weight: bold;
    }
}

.all-team-button {
    margin: 40px 0;
}

.special-project {
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: space-between;
    margin-bottom: 30px;

    &_top {
        display: flex;
        justify-content: space-between;
    }

    &_bottom {
        display: flex;
        justify-content: space-between;
    }

    &_left {
        flex-basis: 555px;
    }

    &_right {
        flex-basis: 300px;
    }

    &_news-list {
        padding-left: 0;
        margin-left: 0;
        list-style-type: none;
    }

    &_news-item {
        margin-bottom: 25px;
        counter-increment: news-counter;
        text-indent: -25px;

        &::before {
            content: counter(news-counter) ". ";
            display: inline-block;
            width: 20px;
            text-align: right;
            margin-right: 5px;
            color: #999a99;
            font-size: 0.9rem;
        }
    }

    &_news-header {
        font-size: 1.25rem;
        font-weight: bold;
        text-decoration: underline;
    }

    &_donate {
        display: flex;
    }

    &_donate-button {
        background: #ffed49;
        border-color: #ffed49;

        &:active {
            background: #ffe04e;
            border-color: #ffe04e;
        }
    }

    &_donate-amount {
        border: none;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        background: transparent;
        font-size: 30px;
        width: 150px;
        margin-right: 5px;
    }

    &_link-button {
        border-width: 2px;
        background: transparent;
    }


    &--green {
        background: #f9fff3;
    }
    &--green &_link-button {
        border-color: #B7EA84;

        &:hover {
            background: #B7EA84;
        }

        &:active {
            background: #A3D473;
            border-color: #A3D473;
        }
    }
    &--green &_donate-amount {
        border-color: #b3ea8b;;
    }


    &--blue {
        background: #f1fbff;
    }
    &--blue &_link-button {
        border-color: #43d7fc;

        &:hover {
            color: white;
            background: #43d7fc;;
        }

        &:active {
            color: white;
            background: #00b8e0;;
            border-color: #00b8e0;;
        }
    }
    &--blue &_donate-amount {
        border-color: #b3ea8b;;
    }


    &--red {
        background: #fff2f2;
    }
    &--red &_link-button {
        border-color: #ff4048;

        &:hover {
            color: white;
            background: #ff4048;
        }

        &:active {
            color: white;
            background: #f0343c;
            border-color: #f0343c;
        }
    }
    &--red &_donate-amount {
        border-color: #ff4048;
    }
}
