.collected {
    border: 6px solid #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px;

    &_header {
    }

    &_amount {
        padding: 1rem;
        font-size: 36px;
        font-weight: bold;
    }
}

.intro-row {
    padding: 48px 0;
}

.person {
    &_name {
        font-weight: bold;
    }
}

.all-team-button {
    margin: 40px 0;
}

.special-project {
    display: flex;
    flex-direction: column;
    background: #f9fff3;
    padding: 30px;
    justify-content: space-between;
    margin-bottom: 30px;

    &_top {
        display: flex;
        justify-content: space-between;
    }

    &_bottom {
        display: flex;
        justify-content: space-between;
    }

    &_left {
        flex-basis: 555px;
    }

    &_right {
        flex-basis: 300px;
    }

    &_news-list {
        padding-left: 0;
        margin-left: 0;
        list-style-type: none;
    }

    &_news-item {
        margin-bottom: 25px;
        counter-increment: news-counter;
        text-indent: -25px;

        &::before {
            content: counter(news-counter) ". ";
            display: inline-block;
            width: 20px;
            text-align: right;
            margin-right: 5px;
            color: #999a99;
            font-size: 0.9rem;
        }
    }

    &_news-header {
        font-size: 1.25rem;
        font-weight: bold;
        text-decoration: underline;
    }

    &_donate {
        display: flex;
    }

    &_donate-amount {
        border: none;
        background: transparent;
        font-size: 30px;
        border-bottom: 2px solid #b3ea8b;;
        width: 150px;
        margin-right: 5px;
    }
}
